@font-face {
  font-family: "Proxima-Vara";
  src: url("/assets/fonts/proximavara/proxima-vara.woff2") format("woff2 supports variations"),
       url("/assets/fonts/proximavara/proxima-vara.woff2") format("woff2-variations"),
       url("/assets/fonts/proximavara/proxima-vara.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 0% 100%;
}