.heading {
  font-weight: black;
}

.heading-1 {
  font-size: 3rem;
  letter-spacing: 0.33px;
}
.heading-2 {}
.heading-3 {}
.heading-4 {}
.heading-5 {}
.heading-6 {}

.text {
  font-size: 1.25rem;
  line-height: 1.5;
}